[user]
    email = mlimones@pensare.mx
	name = Manuel Limones
[core]
	editor = vim
	autocrlf = input
[alias]
	st = status
	ds = diff
	al = add --all
	au = add -u
	dw = diff --word-diff
	ci = commit -v
	cam = commit -v -a -m
	cim = commit -v -m
	pom = pull origin master
	pullit = pull --rebase
	gh = log --oneline --decorate --all --graph
	compromiso = commit 
	rama = branch 
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
