set surround

"Map leader key
let mapleader=","
"Switch files
map <Leader><Leader> <C-^>
"Run make based project
map <Leader>r :action Run <cr>
"Test make based project
map <Leader>d :action Flutter.Toolbar.ReloadAction<cr>
"Save all files
map <Leader>s :action SaveAll<cr>
"Quit file
map <Leader>q :q!<cr>
"Run current python script
map <Leader>ps :w\|:!python -c "execfile('%')"<cr>
"Run current python script
map <Leader>w :w<cr>

"Navigate splits
map <C-h> <C-w>h
map <C-J> <C-w>j
map <C-K> <C-w>k
map <C-l> <C-w>l
